## Solve the Assignment Data is Given in the code you can run the code and get relvent data

In [1]:
import pandas as pd

# Sample customer data
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'age': [25, 30, 22, 40, 18],
    'city': ['New York', 'London', 'Paris', 'Tokyo', 'Los Angeles']
}

df = pd.DataFrame(data)



import numpy as np

# Sample data with missing values
data2 = {
    'product': ['A', 'B', 'C', 'A', 'B', None],
    'price': [10, 15, None, 20, 25, 30],
    'category': ['Electronics', 'Electronics', 'Clothing', 'Electronics', 'Clothing', 'Home']
}

df2 = pd.DataFrame(data2)

C:\Users\Vansh Dixit\AppData\Local\Temp\ipykernel_250996\2297377808.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

1. Write a Python program that uses the interpreter interactively to calculate the area of rectengle and area of square.

In [2]:
def rec(l,b):
    return l*b

def sqr(a):
    return a**2


while True:
    print('choose 1 for area of rectangle')
    print('choose 2 for area of square')

    choice=int(input('enter ur choice : '))
    if choice==1:
        l=float(input('enter the length of the rectangle : '))
        b=float(input('enter the breadth of the rectangle : '))
        ar=rec(l,b)
        print('the area of the rectangle is : ', ar)

    elif choice==2:
        a=float(input('enter the side length of the square : '))
        ar=sqr(a)
        print('the area of the square is : ', ar)

    else: 
        print('enter a number between 1 or 2')
    
    ch=input('do you want to continue (Y/N) : ')
    if ch in ['N','n']:
        break

choose 1 for area of rectangle
choose 2 for area of square

ValueError: invalid literal for int() with base 10: ''

2. Create Python variables to store your name, age, and favorite food. Print a sentence combining these variables using string formatting

In [ ]:
name=input('enter ur name : ')
age=int(input('enter ur age : '))
fav_food = input('enter ur fav food : ')

print('hi, my namm is ',name, 'my age is ',age, 'and my favourite food is ',fav_food)

3. Write a Python program that takes two numbers as input from the user and performs all basic arithmetic operations (addition, subtraction, multiplication, division) on them.

In [ ]:
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def mul(a,b):
    return a*b
def div(a,b):
    return a/b
while True:
    a=int(input('enter ur first no. : '))
    b=int(input('enter ur second no. : '))
    print('')
    print('choose 1 for addition')
    print('choose 2 for subtraction')
    print('choose 3 for multiplication')
    print('choose 4 for division')
    print('')
    choice=int(input('enter ur choice: '))
    if choice==1:
        add=add(a,b)
        print('sum of the two numbers is : ',add)
    elif choice==2:
        sub=sub(a,b)
        print('difference of the two numbers is : ',sub)
    elif choice==3: 
        mul=mul(a,b)
        print('product of the two numbers is : ',mul)
    elif choice==4:
        div=div(a,b)
        print('division of the two numbers is : ',div)
    else:
        print('enter appropriate choice')
    ch=input('do u wanna continue (Y/N) : ')
    if ch in ['N','n']:
        break

4. Write a Python program that checks if a given number is even or odd using an if statement.

In [ ]:
n=int(input('enter ur number : '))
if n%2==0:
    print('the number is even')
else:
    print('the number is odd')

5. Write a Python program that prints the first 10 natural numbers using a while loop.

In [ ]:
a=1
while a<=10:
    print(a)
    a=a+1

6. Create a Python list containing the names of your favorite movies. Write code to access and print the second element in the list.

In [ ]:
movies=['fight club','joker','avengers','american psycho','interstellar','taxi driver','wolf of the wall street']
print(movies[1])

7. Write a Python function that takes a string as input and returns the number of uppercase and lowercase letters in the string.

In [ ]:
input_str=input('enter a string : ')
up=0
low=0
for i in str:
    if i.isupper():
        up+=1
    elif i.islower():
        low+=1
    
print('the number of uppercase letters :',up)
print('the number of lowercase letters :',low)

8. Create a DataFrame from a given dictionary containing customer information (name, age, city). Display the first 5 rows and basic information about the DataFrame (shape, data types).

In [ ]:
# data given above
print('top 5 data', '\n', df.head(5),'\n')

print('shape of data','\n',df.shape,'\n')

print('info about data','\n',df.info())

top 5 data
       name  age         city
0    Alice   25     New York
1      Bob   30       London
2  Charlie   22        Paris
3    David   40        Tokyo
4    Emily   18  Los Angeles

shape of data
 (5, 3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    5 non-null      object
 1   age     5 non-null      int64
 2   city    5 non-null      object
dtypes: int64(1), object(2)
memory usage: 252.0+ bytes
info about data
 None

9. Import a sample dataset (e.g., CSV file) using Pandas. Select specific columns (e.g., 'name' and 'age') and display them.

In [3]:
data_frame=pd.read_csv(r"C:\Users\Vansh Dixit\OneDrive\Desktop\Code\Python-lrng\csv nd xlsx\sample_data.csv")
print(data_frame[['name','age']])

      name  age
0     alex   22
1  william   27
2    tyler   25
3   jeremy   32
4  michael   45
5    casey   36
6      bob   24
7  william   39

10. Add a new column to the DataFrame calculated as the square of another column. Rename existing columns if necessary.

11. Select rows where a specific condition is met (e.g., age greater than 18). Filter the DataFrame based on multiple criteria (e.g., age between 25 and 30, city containing 'New York').

In [5]:
df

      name  age         city
0    Alice   25     New York
1      Bob   30       London
2  Charlie   22        Paris
3    David   40        Tokyo
4    Emily   18  Los Angeles

12. Handle missing values in your DataFrame. Impute missing values with a specific value (e.g., mean, median) or drop rows/columns containing missing data.

13. Remove duplicate rows from the DataFrame. Optionally, keep only the first or last occurrence of duplicates.

14. Clean text data in a column by removing leading/trailing whitespaces, converting to uppercase/lowercase.

15. Group data by a specific column and calculate descriptive statistics (mean, standard deviation, count) for each group.

16. Sort the DataFrame by one or more columns (ascending/descending order).

17. Calculate summary statistics for numerical columns (mean, median, standard deviation, quartiles) using describe() or specific methods.

18. Create new columns derived from existing data (e.g., calculate age groups based on age ranges).

19. Perform aggregations on grouped data (e.g., calculate total sales per product category). Apply aggregation functions with groupby() and agg().

20. Merge two DataFrames based on a common column using appropriate technique

21. Uses a for loop to iterate through a range of numbers (1 to 10).
Inside the loop, print the current number multiplied by 2.

22. Guessing Game:

Create a Python program for a simple guessing game:

Generate a random number between 1 and 100 (use the random module).
Allow the user to guess the number within 5 attempts.
Use a while loop to keep track of the number of attempts.
Inside the loop, get the user's guess as an integer using int(input()).
Use if statements to check if the guess is correct, too high, or too low.
Provide feedback to the user after each guess, indicating if they need to go higher or lower.
If the user guesses correctly within the allowed attempts, print a congratulatory message.
If the user fails to guess correctly within 5 attempts, print a message indicating they ran out of chances.

23. Finding Even Numbers:

Write a Python program that:

Takes a list of integers as input from the user.
Use a for loop to iterate through the list.
Inside the loop, use an if statement to check if the current number is even (use the modulo operator %).
If the number is even, print it to the console.

24. Password Checker:

Create a Python program for a password checker:

Define a variable containing the correct password (e.g., "secret123").
Prompt the user to enter their password.
Use an if statement to check if the entered password matches the correct one.
If the passwords match, print a message indicating successful login.
If the passwords don't match, use an else statement to print a message indicating incorrect login and allow the user to try again (maximum 3 attempts).

25. Discount Calculator:

Write a Python program that calculates a discount on a product based on its price and discount rate:

Prompt the user to enter the product price as a float.
Prompt the user to enter the discount rate as a percentage (e.g., 10 would mean 10%).
Use an if statement to check if the discount rate is within a valid range (0% to 100%).
If the discount rate is valid, calculate the discounted price using the formula discounted_price = price * (1 - discount_rate/100).
Print the original price and the discounted price.
If the entered discount rate is invalid, use an else statement to print an error message.