# **Python Practice**

submitted by : VANSH DIXIT, BTECH CSE IOTBC-1A, ROLL: 60

## Create all the Data Type of Python in different    `variable`.
* Str
* Int
* FLoat
* List
* Tuple
* Dict
* Set

In [10]:
var_str="vansh"
var_int=1
var_float=1.3
var_list=[1,2,3,4]
var_tuple=(1,2,4,5)
var_dict={"a":1,"b":2}
var_set= {1,2,3,4}

## Create a list of your 5 friends and name its variable `friend`.

In [2]:
friend=["suryansh","suryansh","abhikalp","harshit","vasu"]

## Make them a `Set` and name it `set_friend`.

In [3]:
friend=["suryansh","suryansh","abhikalp","harshit","vasu"]
set_friend= set(friend)
print(set_friend)

{'harshit', 'vasu', 'abhikalp', 'suryansh'}

## Create a dict of students with name `a, b, c, d, e, f` and the number is `20, 12, 14, 15, 18`.

In [12]:
var_dict={"a":20,"b":12,"c":14,"d":15,"e":18,"f":0}

## What are the rules of `variable`.

In [23]:
## Variables should always start with an alphabet or an underscore and special characters or symbols can't be used except numbers later in the variable name. Keywords can't be used as variables.

## Print the table of `5`.

In [4]:
for i in range(1,11):
    print(f"5x{i}={5*i}")

5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50

## Print your name `25 times`.

In [5]:
for i in range(1,26):
    print("vansh")

vansh
vansh
vansh
vansh
vansh
vansh
vansh
vansh
vansh
vansh
vansh
vansh
vansh
vansh
vansh
vansh
vansh
vansh
vansh
vansh
vansh
vansh
vansh
vansh
vansh

## Create a list of `Months` and run a while loop print all the names of present in the list until `March` after printing the march break the code.

In [25]:

months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
i= 0
while i < len(months):
    month = months[i]
    print(month)
    if month == "March":
        break
    i += 1

    ## WITH HELP FROM CHATGPT

January
February
March